@use './mixins';

.book {
	position: absolute;
	opacity: 0;
	width: clamp(230px, 40vw, 280px);
	height: clamp(230px, 40vw, 280px);
	cursor: auto;

	&_shake {
		animation: shake 1s infinite;
	}

	&_visible {
		opacity: 1;
	}

	&_hide {
		display: none;
	}

	&__star_active {
		animation: changeColor 1s infinite;
	}

	&__ellipse_active {
		animation: changeColor 1s infinite;
	}

	@media screen and (max-height: 560px) {
		@include mixins.sizes(180px, 180px);
	}
}