@use './mixins';
@use './media';
@use './template-selectors';

.rules {
	@include mixins.imageSet('rules-background');
	position: absolute;
	z-index: 2;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	@include mixins.sizes(100vw, 100vh);
	@include media.supports(height, 100dvh);

	&__language-btn {
		@extend %languageIcon;
	}

	&__inner {
		position: absolute;
		left: 50%;
		bottom: 50%;
		transform: translate(-50%, 50%);
		padding: 6px;
		@include mixins.sizes(832px, 355px);
		background-color: #ffffff96;
		border-radius: 3%;

		@include media.desktop {
			@include mixins.sizes(640px, 339px);
		}

		@include media.tablet {
			width: 560px;
		}

		@include media.mobile {
			@include mixins.sizes(440px, 345px);
		}

		@include media.smallMobile {
			padding: 3px;
			@include mixins.sizes(378px, 310px);
		}

		@include media.smallestMobile {
			@include mixins.sizes(300px, 318px);
		}
	}

	&__text {
		font-family: 'Caveat', serif;
		font-size: 30px;
		text-align: center;
		letter-spacing: 0.8px;
		user-select: none;
		color: black;

		@include media.desktop {
			font-size: 26px;
		}

		@include media.tablet {
			font-size: 24px;
		}

		@include media.mobile {
			font-size: 21px;
		}

		@include media.smallMobile {
			font-size: 19px;
		}

		@include media.smallestMobile {
			font-size: 17px;
		}
	}
}